doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Pugjs
        link(rel="stylesheet", href="./css/main.css")
    body.content 
        h1 this is pug page
        h1 this is pug page
        p i think it is not 
        span hi
        span 222
        span 222
        span 222
        span 222
        span 222
        h1 this is pug page
        p i think it is not 
        span hi
        span 222
        span 222
        span 222
        span 222
        span 222
        #one hello from one 
        #two hello from two 
        script(src="./js/main.js") 